@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
 height: 100%;
 overflow-y: scroll;
 overflow-x: hidden;
}

body {
 height: 100%;
 background-color: #181818;
 color: #ececec;
}

#__next {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 14px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
::-webkit-scrollbar-track {
  background-color: #181818;
}
::-webkit-scrollbar-thumb {
  background-color: #292929;
  border-radius: 0.2rem;
}


.pagination__item {
  align-items: center;
  color: #FFF;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 40px;
  width: 40px;
  justify-content: center;
}

.pagination__item:hover {
  background-color: #292929;
  border-radius: 5px;
}

.pagination__item.active {
  color: #0084ff;
  font-weight: 600;
  border-radius: 5px;
  background-color: #111111;
}