@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
 height: 100%;
 overflow-y: scroll;
 overflow-x: hidden;
}

body {
 height: 100%;
 background-color: #181818;
 color: #ececec;
}

#__next {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 14px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
::-webkit-scrollbar-track {
  background-color: #181818;
}
::-webkit-scrollbar-thumb {
  background-color: #292929;
  border-radius: 0.2rem;
}


.pagination__item {
  align-items: center;
  color: #FFF;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 40px;
  width: 40px;
  justify-content: center;
}

.pagination__disabled-page {
  color: #808e9b;
}

.pagination__active {
  border: solid 1px #808e9b;
  border-radius: 40px;
  color: #0084ff;
}

.pagination__next {
  font-size: 14px;
  height: 60px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__previous {
  font-size: 14px;
  height: 60px;
  width: 30px;
}

.pagination {
  height: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.pagination__page {
  font-weight: 700;
}

.pagination__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}